In [1]:
'''1'''
a = 1
print(a)

1

In [2]:
'''2'''
type(1), type('Hello')

(int, str)

In [3]:
'''3'''
int(False), int(10.0), int('10')

(0, 10, 10)

In [4]:
'''4'''
float(False), float(10), float('10')

(0.0, 10.0, 10.0)

In [5]:
'''5'''
bool(0), bool([1,2,3]), bool('a')

(False, True, True)

In [6]:
'''6'''
str(10), str(False), str({1,2,3})

('10', 'False', '{1, 2, 3}')

In [7]:
'''7'''
seq = "안녕하세요"
len(seq)

5

In [8]:
'''8'''
seq2 = '''반갑습니다'''
print(seq2)

반갑습니다

In [1]:
'''9'''
seq3 = '인덱싱예제'
seq3[0], seq3[-1]

('인', '제')

In [10]:
'''10'''
seq3[:]

'인덱싱예제'

In [11]:
'''11'''
seq3[:-1]

'인덱싱예'

In [12]:
'''12'''
seq[0:4]

'안녕하세'

In [13]:
'''13'''
seq3[::-1]

'제예싱덱인'

In [14]:
'''14'''
lst_1 = [] # 빈리스트
lst_2 = [1,2] # 정수형 리스트
lst_3 = ['hi', 'hello'] # 문자열 리스트
lst_4 = [1, 'hi', 2, 'hello'] # 정수 + 문자
lst_5 = [1, 2, ['hi', 'hello']] # 리스트 내 리스트

In [15]:
'''15'''
lst = list((1,2,3))
lst

[1, 2, 3]

In [16]:
'''16'''
lst_2 + lst_3 # 정수형과 문자열 결합

[1, 2, 'hi', 'hello']

In [17]:
'''17'''
lst_3 * 2 # lst_3 두번 반복

['hi', 'hello', 'hi', 'hello']

In [18]:
'''18'''
lst_6 = ['hi', 'hello', [1,2]]
lst_6[0]

'hi'

In [19]:
'''19'''
lst_6[2][1]

2

In [20]:
'''20'''
lst_6[0:2]

['hi', 'hello']

In [21]:
'''21'''
lst_6[::-1]

[[1, 2], 'hello', 'hi']

In [22]:
'''22'''
dict_0={'name' : '이준혁',
        'age' : '24'}
dict_0

{'name': '이준혁', 'age': '24'}

In [23]:
'''23'''
dict_2=dict(a = 1, b = 2, c = 3)
dict_2

{'a': 1, 'b': 2, 'c': 3}

In [24]:
'''24'''
print(dict_0['name'])
print(dict_0['age'])

이준혁
24

In [25]:
'''25'''
dict_0['grade'] = '3'
print(dict_0)

{'name': '이준혁', 'age': '24', 'grade': '3'}

In [26]:
'''26'''
dict_0['key']

KeyError: 'key'

In [27]:
'''27'''
set1 = {1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [28]:
'''28'''
set1 = set((1,2,2,3,4,4))
print(set1)

{1, 2, 3, 4}

In [29]:
'''29'''
set2 = {3,4,5,6}
print(set1 & set2) # 교집합
print(set1 - set2) # 차집합
print(set1 | set2) # 합집합

{3, 4}
{1, 2}
{1, 2, 3, 4, 5, 6}

In [31]:
'''30'''
a = 2
b = 3
a += b
print(a)

5

In [32]:
'''31'''
a *= b
print(a)

15

In [33]:
'''32'''
a %= b
print(a)

0

In [34]:
'''33'''
a = [3,2,1]
a.sort()
a

[1, 2, 3]

In [35]:
'''34'''
abs(-12)

12