# Topics
* [변수 설정](#변수설정)

* [자료형](#자료형)
    + [정수형 & 실수형](#정수형&실수형)
    + [불린](#불린)
    + [문자열](#문자열)
    + [날짜형](#날짜형)
    + [리스트 & 튜플](#리스트&튜플)
    + [딕셔너리 & 집합](#딕셔너리&집합)
       
* [연산자](#연산자)
    + [산술 연산자](#산술연산자)
    + [대입 연산자](#대입연산자)
    + [비교 연산자](#비교연산자)
    + [멤버 & 논리 연산자](#멤버&논리연산자)
    
* [문자열 포맷팅](#문자열포맷팅)
    + [포맷코드](#포맷코드)
    + [format 함수](#format함수)
    + [f-string](#f-string)
    
* [메소드](#메소드)
    + [문자열 메소드](#문자열메소드)
    + [리스트 메소드](#리스트메소드)
    + [딕셔너리 메소드](#딕셔너리메소드)

# 변수설정
#### 변수
- 데이터를 재사용하기 위해 저장하는 공간

#### 식별자
- 변수, 함수 등을 구분하기 위해 붙이는 이름

##### 식별자 규칙
1. 첫 글자는 문자와 _ 만 사용 가능
2. 예약어 사용 불가
3. _ 를 제외한 특수문자 사용 불가
4. 공백 사용 불가
5. 영문자의 경우 대소문자 구분

In [7]:
x = 10

In [8]:
# 숫자로 변수명 시작 불가능
23d = 9

SyntaxError: invalid decimal literal (2597004833.py, line 2)

In [9]:
# 파이썬 내장 함수의 이름 사용 불가능
if = 7

SyntaxError: invalid syntax (1248148887.py, line 2)

In [10]:
# 문자열도 저장 가능
y = 'Hello, World!'

In [11]:
# 여러 개의 변수 한 번에 생성 가능
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [12]:
del a,b,c

In [13]:
# 변수는 삭제됨
a

NameError: name 'a' is not defined

# 자료형
- 데이터를 표현하는 방법
- type() 함수를 통해 해당 값의 자료형 확인 가능

In [ ]:
# int는 정수형
type(4)

In [ ]:
# float는 실수형
type(4.0)

In [ ]:
# str은 문자열
type('4.0')

##  정수형&실수형

#### 정수형
- 수학에서 정수로 정의되는 모든 수들의 집합 (ex. 1, -1, 0)

#### 실수형
- 수학에서 정수를 제외한 실수로 정의되는 수들의 집합 (ex. 1.4, -3.6)

In [ ]:
int(10)

In [ ]:
int(True)

In [14]:
int(10.0)

10

In [15]:
int('10')

10

In [16]:
float(10)

10.0

In [17]:
float(False)

0.0

## 불린

- 참(True)과 거짓(False)를 표현

In [18]:
bool(0)

False

In [19]:
bool(5)

True

In [20]:
bool([1, 2, 3])

True

In [21]:
# 리스트가 비어있다면 정수형에서의 0과 동일하게 생각해 False를 출력
bool([])

False

## 문자열

- 문자 또는 문자의 나열
- 리스트와 마찬가지로 순서를 가지고 있기 때문에 인덱싱 및 슬라이싱 가능

In [22]:
# ' '," " 로 둘러싸여 저장됨
a = 'D&'
b = 'A'

In [23]:
# 여러 줄에 걸쳐서 문자열 정의 가능
sentence = '''안녕하세요. 저는 21학번 김서령입니다.
저의 전공은 AI빅데이터융합경영학과입니다.'''
print(sentence)

안녕하세요. 저는 21학번 김서령입니다.
저의 전공은 AI빅데이터융합경영학과입니다.

In [24]:
# 더하거나 곱하는 연산 가능
print(a + b, b*3)

D&A AAA

#### 인덱싱 & 슬라이싱

In [25]:
a = 'Hello, world!'

In [26]:
# len 함수를 통해 문자열 길이 출력
len(a)

13

In [27]:
# 4번째 자리에 있는 문자 추출
a[4]

'o'

In [28]:
# 뒤에서부터 2번째 자리에 있는 문자 추출
a[-2]

'd'

In [29]:
a[0:4]

'Hell'

In [30]:
a[:7]

'Hello, '

In [31]:
a[:]

'Hello, world!'

In [32]:
a[::-1]

'!dlrow ,olleH'

## 날짜형

### datetime을 활용한 날짜형

1) 날짜형 datetime.date 생성 및 날짜 간 차이

In [33]:
import datetime

christmas = datetime.date(2024, 12, 25)  
today = datetime.date(2024, 3, 12)

christmas - today      # 오늘부터 크리스마스까지 얼마나 남았나 확인중...

datetime.timedelta(days=288)

In [34]:
print(christmas.year)
print(christmas.month)
print(christmas.day)
print(christmas.weekday())  # weekday는 월요일부터 0

2024
12
25
2

2) datetime.datetime으로 시간까지 계산

In [35]:
now = datetime.datetime.now()  # now()로 현재
report = datetime.datetime(2024, 3, 13, 9, 0, 0)  # 내일 1교시 전까지가 과제 제출!

report - now    # 시간이 얼마나 남았지?

datetime.timedelta(seconds=70543, microseconds=977332)

In [36]:
print(report.year)
print(report.month)
print(report.day)
print(report.hour)
print(report.minute)
print(report.second)
print(report.weekday())  # weekday는 월요일부터 0

2024
3
13
9
0
0
2

3) timedelta 객체로 n일 후 날짜 알아보기

In [37]:
diff = datetime.timedelta(days = 112)  # 96일이라는 timedelta(날짜 간 차이)객체 생성

today + diff  # 오늘부터 112일 후는??

datetime.date(2024, 7, 2)

### Pandas를 사용한 날짜형

In [38]:
import pandas as pd

a = pd.to_datetime('2024-03-12 10:20:30', format = '%Y-%m-%d %H:%M:%S')
b = pd.to_datetime('03122024 10:20:30',format='%m%d%Y %H:%M:%S')
c = pd.to_datetime("2024/03/12 10:20:30", format = "%Y/%m/%d %H:%M:%S")

print(a)
print(b)
print(c)

2024-03-12 10:20:30
2024-03-12 10:20:30
2024-03-12 10:20:30

## 리스트&튜플

### 리스트
- 아이템들을 모은 순차 데이터 타입
- 아이템은 정수, 스트링, 다른 리스트 등 모든 종류의 데이터 가능

In [39]:
lst_1 = [1, 2]
lst_2 = ['AI','Bigdata']
print(lst_1 + lst_2)  # 리스트 2개를 결합
print(lst_1 * 2)      # 리스트를 원하는 만큼 반복

[1, 2, 'AI', 'Bigdata']
[1, 2, 1, 2]

In [40]:
# list자료형으로 바꾸기
list({1, 2, 3, 4})

[1, 2, 3, 4]

In [41]:
a = [123, 'D&A','Basic',['a','b','c']]

In [42]:
a[2]

'Basic'

In [43]:
a[3][2]

'c'

In [44]:
a[:2]

[123, 'D&A']

In [45]:
#a의 첫번째 원소 수정
a[0] = 1432
a

[1432, 'D&A', 'Basic', ['a', 'b', 'c']]

### 튜플
- 변경 불가능한 리스트
- 아이템의 추가, 수정, 삭제 불가

In [46]:
a = (13, 'dna','2024/03/12')

In [47]:
# tuple은 수정 불가능
a[0] = 23

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플의 인덱싱과 슬라이싱은 리스트와 같음
a[:2]

## 딕셔너리&집합

### 딕셔너리
- 키(Key)와 값(value)으로 구성된 집합(비순차 데이터 타입)
- 유일한 키로 검색(인덱스로 접근 불가)

In [48]:
dic = {"이름" : '김서령', "학교" : '국민대학교', 
       "학과" : 'AI빅데이터융합경영학과', '나이' : 23}

In [49]:
type(dic)

dict

In [50]:
print(dic['이름'])

김서령

In [51]:
# 딕셔너리의 값 추가
dic['학번'] = 21
print(dic)

{'이름': '김서령', '학교': '국민대학교', '학과': 'AI빅데이터융합경영학과', '나이': 23, '학번': 21}

In [52]:
# 튜플은 리스트와는 달리 값이 변경되지 않기 때문에 딕셔너리의 키로 사용 가능
dic = {(1, 2) : [1, 2, 3]}
dic[(1, 2)]

[1, 2, 3]

### 집합
- 유일한 값들로 구성된 비순차적 자료구조
- 중복을 허용하지 않음

In [53]:
s = {3,6,1}
t = {2,3,4}

In [54]:
# 교집합
s & t

{3}

In [55]:
# 합집합
#중복 허용되지 않기 때문에 3 한번 출력
s | t

{1, 2, 3, 4, 6}

In [56]:
#차집합
s - t

{1, 6}

# 연산자

### 산술연산자

In [57]:
a, b = 7, 3

In [58]:
print('1:', a + b)
print('2:', a - b)
print('3:', a * b)
print('4:', a / b)
print('5:', a // b)
print('6:', a % b)
print('7:', a ** b)

1: 10
2: 4
3: 21
4: 2.3333333333333335
5: 2
6: 1
7: 343

### 대입연산자

In [59]:
# a = 7, b = 3
a += b
print(a)

10

In [60]:
# a = 10, b = 3
a //= b
print(a)

3

### 비교연산자

In [61]:
"파이썬" == "파이썬"

True

In [62]:
a = 1234
b = 1234

a == b

True

In [63]:
a != b

False

### 멤버&논리연산자

#### 멤버 연산자

In [64]:
a = 1
b = [1, 2, 3, 4]

In [65]:
a in b

True

In [66]:
a not in b

False

#### 논리 연산자

In [67]:
3<6 and 2<3

True

In [68]:
3<4 and 1>7

False

In [69]:
3<10 or 4<9

True

In [70]:
0>1 or 9>7

True

In [71]:
# False 나 True는 첫번째 문자가 대문자 주의
not False

True

# 문자열포맷팅

### 포맷코드

In [72]:
grade = 3
name = "김서령"

intro = "저는 %d학년이고 이름은 %s입니다"%(grade, name)
print(intro)

저는 3학년이고 이름은 김서령입니다

In [73]:
pie = 3.14159

print("파이는 %0.2f"%pie)  # 포맷코드의 %와 f사이에 소수점 아래 자리 지정

파이는 3.14

In [74]:
# %기호를 포맷코드와 같이 넣으려면 %%로
print("김씨는 대한민국 인구의 %s%%가 넘는다"%20)

김씨는 대한민국 인구의 20%가 넘는다

### format함수

In [75]:
name = "김서령"
birth = 2002

print("저는 {0}이고 {1}년생입니다.".format(name, birth))   # 인덱스에 해당하는 변수 삽입

저는 김서령이고 2002년생입니다.

In [76]:
print("저는 {0}이고 {1}년생입니다.".format("신지후", 2003))

저는 신지후이고 2003년생입니다.

In [77]:
print("저는 {name}이고 {birth}년생입니다.".format(name = "이준혁", birth = 2001))

저는 이준혁이고 2001년생입니다.

In [78]:
name = "파이"
pie = 3.14159

print("{0}는 {1:.2f}".format(name, pie))  # format함수로 소수점 아래 자리 지정

파이는 3.14

### f-string

In [79]:
name = "김서령"
birth = 2002

print(f"저는 {name}이고 {birth}년생입니다.")

저는 김서령이고 2002년생입니다.

In [80]:
user = {"이름" : "김서령", "나이" : 23, "직업" : "대학생"}

print(f"제 이름은 {user['이름']}이고 나이는 {user['나이']}, 직업은 {user['직업']}입니다.")

제 이름은 김서령이고 나이는 23, 직업은 대학생입니다.

In [81]:
name = "파이"
pie = 3.14159

print(f"{name}는 {pie:.2f}")  # f-string 기법으로 소수점 아래 자리 지정

파이는 3.14

# 메소드

#### 메소드
- 객체(특정 자료형을 갖는 값 또는 그 변수)와 연관되어 사용하는 변수

#### 함수
- 함수에 정의된 기능을 구현
- 함수의 결과를 변수에 대입 가능
- 함수명으로 독립적으로 호출 가능

### 문자열메소드
메소드 종류|      메소드 설명
---|---
a.count()| 문자열 내 input(x)의 개수 세기
a.find(x)|  문자열 내 input(x)과 동일한 첫번째 요소의 인덱스 값
a.replace('x', 'y')| 문자열 내 첫 번째 input값(x)을 두 번째 input값(y)으로 대체 
a.split()| 문자열을 input 기준으로 나누어 리스트에 저장
'x'.join(a) | input으로 들어간 문자열(a)의 각 요소 사이에 ''(x) 삽입
a.lower()  | 문자열의 대문자를 소문자로 바꿈
a.upper() | 문자열의 소문자를 대문자로 바꿈
a.swapcase() | 대문자는 소문자로, 소문자는 대문자로 바꿈
a.capitalize()|  문자열의 첫 글자를 대문자로, 나머지는 소문자로 바꿈
a.lstrip()|  문자열의 왼쪽 공백을 없앰
a.rstrip()|  문자열의 오른쪽 공백을 없앰
a.strip()|  문자열의 양쪽 공백을 없앰
a.startwith(x)|  문자열이 input값(x)로 시작하는지 여부를 bool형태로 반환
a.endwith(x)|  문자열이 input값(x)로 끝나는지 여부를 bool형태로 반환
a.isalnum()|  문자열이 숫자와 알파벳으로 이루어져있으면 True, 아니면 False
a.isalpha()|  문자열이 문자(영어, 한글)만 포함하고 있으면 True, 아니면 False
a.isdigit()|  문자열이 숫자로만 이루어져있으면 True, 아니면 False

In [82]:
a = 'I ate chicken'

In [83]:
# 요소 개수 세기
a.count('c')

2

In [84]:
# 문자열 중 input과 같은 첫번째 요소의 인덱스값 출력
a.find('i')

8

In [85]:
# 문자열 내 첫 번째 input을 두 번째 input으로 대체
a.replace('ate','buy')

'I buy chicken'

In [86]:
# input 기준으로 문자열을 나누어 리스트에 저장
a.split(" ")

['I', 'ate', 'chicken']

In [87]:
# 문자열 내 요소 사이에 input 삽입
'1'.join(a)

'I1 1a1t1e1 1c1h1i1c1k1e1n'

In [88]:
# 문자열의 대문자를 소문자로 바꿈
a.lower()

'i ate chicken'

In [89]:
# 문자열의 소문자를 대문자로 바꿈
a.upper()

'I ATE CHICKEN'

In [90]:
b = ' I am hungry '

# 대문자는 소문자로, 소문자는 대문자로
b.swapcase()

' i AM HUNGRY '

In [91]:
# 문자열의 첫번째 글자는 대문자로, 나머지는 소문자로
b.capitalize()

' i am hungry '

In [92]:
# 오른쪽 공백 지우기
b.rstrip()

' I am hungry'

In [93]:
# 왼쪽 공백 지우기
b.lstrip()

'I am hungry '

In [94]:
b = '       I am hungry         '

# 양쪽 공백 지우기
b.strip()

'I am hungry'

In [95]:
c = "pythonispython"

# 문자열이 input값으로 시작하는지 여부를 bool자료형으로 반환
c.startswith("p")

True

In [96]:
# 문자열이 input값으로 시작하는지 여부를 bool자료형으로 반환
c.endswith("n")

True

In [97]:
c = "1004ANGEL"

# 문자열이 숫자와 알파벳으로 이루어져있으면 True, 아니면 False
c.isalnum()

True

In [98]:
# 문자열이 문자(영어, 한글)만 포함하고 있으면 True, 아니면 False
c.isalpha()

False

In [99]:
# 문자열이 숫자로만 이루어져있으면 True, 아니면 False
c.isdigit()

False

### 리스트메소드
메소드 종류|      메소드 설명
---|---
a.append()| 리스트에 input값(x) 추가
a.reverse()|  리스트를 현재 순서에서 뒤집기
a.sort()| 리스트 요소 값 기준으로 정렬
a.index(x)| input값(x)의 인덱스 값 반환
a.insert(x, y) | x에 해당하는 인덱스 값 자리에 y 삽입
a.remove(x)  | input값(x)에 해당하는 리스트 내 요소 삭제
a.count(x) | input값(x)에 해당하는 요소 개수 세기
a.extend(x) | 리스트에 input(x)으로 들어온 리스트 확장
a.pop()|  리스트의 마지막 값 출력 후 반환(출력된 값은 리스트에서 삭제)

In [100]:
a = [4,3,2,1]

In [101]:
# 리스트에 input값 추가
a.append(5)  
a

[4, 3, 2, 1, 5]

In [102]:
# 리스트를 현재 순서에서 뒤집기
a.reverse() 
a

[5, 1, 2, 3, 4]

In [103]:
# 리스트 요소를 요소값 기준으로 정렬
a.sort()  
a

[1, 2, 3, 4, 5]

In [104]:
# 리스트 내 input 값 삭제
a.remove(2)  
a

[1, 3, 4, 5]

In [105]:
# 리스트 마지막 요소 반환 후 삭제
a.pop()

5

In [106]:
a

[1, 3, 4]

In [107]:
# 리스트 내 input값 요소 개수 세기
a.count(1)

1

In [108]:
# 리스트를 input으로 받아 리스트 확장
a.extend([5, 6, 7, 8, 9]) 
a

[1, 3, 4, 5, 6, 7, 8, 9]

In [109]:
# 리스트 내의 원소를 모두 삭제
a.clear()
a

[]

### 딕셔너리메소드
메소드 종류|      메소드 설명
---|---
a.keys()| 딕셔너리의 모든 key 출력
a.values()|  딕셔너리의 모든 value 출력
a.items()| 딕셔너리의 모든 key:value 조합을 튜플 형태로 반환
a.get(x) | input값(x)에 해당하는 value 출력

In [110]:
name = {"김서령" : 21, "이준혁" : 20, "김차미" : 22, "이지민" : 22}

In [111]:
name.keys()

dict_keys(['김서령', '이준혁', '김차미', '이지민'])

In [112]:
name.values()

dict_values([21, 20, 22, 22])

In [113]:
name.items()

dict_items([('김서령', 21), ('이준혁', 20), ('김차미', 22), ('이지민', 22)])

In [114]:
len(name)

4

In [115]:
name['김서령'] = 22
name

{'김서령': 22, '이준혁': 20, '김차미': 22, '이지민': 22}

In [116]:
name['김예향'] = 21
name

{'김서령': 22, '이준혁': 20, '김차미': 22, '이지민': 22, '김예향': 21}

In [117]:
name.get("김서령")

22

In [118]:
name["김서령"]

22

In [119]:
name.clear()

In [120]:
name

{}